<body>
	<div class="title">
		Modification d'un commentaire
	</div>
	
	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>
  
	<%= form_tag(modifyCom_path(@comment.post_id,@comment.id), :method => "put") do %>
	<div class="Reading">		
		<h2>Auteur : </h2><input type="text" id="author" name="author" cols="15" value="<%= @comment.author %>" /><br>
		<h2>Message : </h2><textarea name="body" id="body" cols="80" rows="6" ><%= @comment.body %></textarea>
		<p><input type="submit" name="Valider" value="Valider"></p>
	</div>
<% end %>	

<%= button_to "Supprimer", deleteCom_path(@comment.post_id,@comment.id), :id => "Delete#{@comment.id}" , :confirm => 'Confirmer la suppression', :method => :delete %></p>	
<%= button_to "Supprimer", consult_path(@post.id), :id => "Precedent" , :method => "get" %> 

<!-- Commentaire -->


</body>
