<div class="authentication">
	<% if !session[:id] %>
		<%= link_to "S'authentifier", login_path, :method => 'get', :remote => true %>	
	<% end %>	
	<% if session[:id] %>
		<%= session[:login] %> logged
	<% end %>		
	<%= render "logout" %>
	&nbsp<p></p>	
</div>
<body>	
	<div class="notice"><%= flash[:notice] %></div>
	<div class="title">
		Creation d'un commentaire
	</div>
  
	<div class="actions">
		<p><%= button_to "Page d\'accueil", posts_path, :method => "get" %></p>
		<p><%= button_to "Precedent", consult_path(@post.id), :id => "Precedent" , :method => "get" %>  </p>
		<p><%= form_tag showComment_path(@post.id), :method => "post" do %>
			<div class="reading">		
				Auteur : &nbsp
				<% if !session[:id] %>
					<input type="text" id="author" name="author" cols="15" value="" /> <q>[Guest]</q>
				<% end %>	
				<% if session[:id] %>
					<input type="text" id="author" name="author" cols="15" readonly value=<%= session[:login] %> /> <q>[User]</q>
				<% end %>				
				<p>Commentaire : &nbsp</p>
				<textarea name="body" id="body" rows="6" cols="80" ></textarea>
				<%= submit_tag("Valider") %>					
			</div>
		<% end %></p>
	</div>

</body>



<!-- Commentaire -->


