$('.needLogin').remove();
$("a[href='<%=logout_path%>']").remove();
$('.authentication').remove(":contains('Bienvenue <%= session[:login] %>')");
$("a[href='<%= login_path %>']").after("<%= escape_javascript(render 'login') %>");
$("form#login").attr("data-remote", true);
$('.notice').replaceWith("<% if flash[:notice] %><div class='notice'><%= escape_javascript(flash[:notice]) %></div><%end%>");
<%flash[:notice]=nil%>
