<div class="authentication">
	<% if !session[:id] %>
	<fieldset>
		<legend> Connexion </legend>
		<form action="/people/connect" method="POST">
			<p>
				Login :
				<input type="text" id="login" name="login" cols="20" /> 
			</p>
			<p>
				Password :
				<input type="password" id="password" name="password" cols="20" />
			</p>	
			<p>
				<%= submit_tag "Connexion" %>
			</p>
		</form>
	</fieldset>		
	<% end %>
</div>
<body>
	<p id="notice""><%= flash[:notice] %></p>
	<div class="title">
		Affichage de la liste des posts <%= session[:login] %>
	</div>	
	<ul>
		<% @posts.each do |p| %>
			<div class="listingURl">
				<li><%= link_to "#{p.title}", consult_path(p.id), :id => p.id, :method => "get"%></li>
			</div>	
			<div class="actions">
   				<%= button_to "Supprimer", delete_path(p.id), :id => p.id , :confirm => 'Confirmer la suppression', :method => :delete %>
   			</div>
		<% end %>
	</ul>
	<div class="title">
		Creation d'un nouveau post.
	</div>

	<form action= <%= posts_new_path %> method="GET">
		<div class = "actions"><input type="submit" name="CreationPostButton" value="Add New Post" <br></div>
	</form> 

</body>
