<body>
	<p id="notice""><%= flash[:notice] %></p>
	<div class="title">
		Consultation du post "<%=@post.title%>" et de ses commentaires
	</div>
	
	<div class="actions">
		<%= button_to "Page d\'accueil", posts_path, :method => "get" %>
	</div>
	
	<div class="reading">	
		Titre : 
		<input type="text" readonly="true" id="title" name="title" cols="20" value="<%= @post.title %>" />
		<p>Message : 
			<textarea name="body" id="body" cols="80" rows="6" readonly ><%= @post.body %></textarea></p>
	</div>
	
	<div class="actions">
		<%= button_to "Modifier", accessModify_path(@post.id), :id => @post.id %>
	</div>
	

	<div class="title">	
		Commentaires 
	</div>	
	

	<% @post.comments.each do |c| %>
		<div class="listing">		
			<li>
				Auteur :  <input type="text" readonly="true" id="author" name="author" cols="20" value="<%= c.author %>" /><br>
				<p>Message : <textarea name="body" id="body" cols="80" rows="6" readonly ><%= c.body %></textarea></p>
			</li>
		</div>	
		<div class="actions">
			<%= button_to "Edit", editCom_path(c.post_id, c.id), :id => "Edit#{c.id}" , :method => "get" %>
			<p><%= button_to "Supprimer", deleteCom_path(c.post_id,c.id), :id => "Delete#{c.id}" , :confirm => 'Confirmer la suppression', :method => :delete %></p>
			<HR>	
		</div>
		<% end %>
	</div>	
	<div class="actions">
		<%= button_to "Add Commentaire", newComment_path, :method => "get", :id => "Add Commentaire"  %>
	</div>


<!-- Commentaire -->
</body>
